.header {
  background-color: white;
  border-bottom: 1px solid rgb(249, 244, 244);
  width: 100%;
  position: fixed; /* Make the navbar fixed */
  top: 0; /* Align it to the top */
  left: 0; /* Align it to the left */
  z-index: 1000; /* Ensure it stays above other content */
}
.navbar {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 10px 20px; /* Add some padding for a better look */
}
.navbar_logo img {
  width: 270px;
  height: 73px;
}
.navbar_list {
  display: flex;
}
.navbar_list h4 {
  font-size: 17px;
  font-weight: 600;
  color: #2d276a;
  text-transform: uppercase;
}
#button_1 a {
  text-decoration: none;
  background-color: rgb(39 147 226);
  color: white;
  padding: 10px 13px;
  border-radius: 50px;
}

.navbar_list h4 {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 15px;
}

.navbar_list h4:hover .icon {
  transform: rotate(-180deg);
  transition: transform 0.3s ease-in-out;
}

.icon {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

/* Dropdown styles */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 180px;
  /* padding: 12px 16px; */
  margin-top: 10px;
  border-radius: 10px;
  border: 0.5px solid rgba(53, 53, 53, 0.1);
  top: 7px;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 0.5px solid rgba(53, 53, 53, 0.1);
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
