.PhilippinesSection1 {
  margin-top: 90px;
  width: 100%;
  height: 600px;
  background-image: url("../images/PhilippinesSection1image1.webp");

  object-fit: cover;
  object-position: center;
}
.conatiner_PhilippinesSection1 {
  position: relative;
  top: 400px;
}
.conatiner_PhilippinesSection1 h1 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}
.conatiner_PhilippinesSection1 p {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
}
